<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Blogs</h1>
    <% for(var i=0; i<blogs.length; i++) {%>
        <h3>Posted by : <%=blogs[i].email%></h3>
        <h3>Posted on : <%=blogs[i].date.toString().substring(0,15)%></h3>
        <h2>Blog : <%=blogs[i].blog%></h2>
     <% } %>
</body>
</html>