<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN"
      crossorigin="anonymous"
    />
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
      crossorigin="anonymous"
    ></script>
    <link rel="stylesheet" href="/styles/style.css" />
    <script src="/scripts/script.js"></script>
    <title>Login</title>
    <style>
      /* Add your custom styles here */
      .form {
        overflow: auto; /* Add overflow property to enable scrolling within the form */
      }

      .inputbox {
        margin-bottom: 15px; /* Add margin to create spacing between input fields */
      }
    </style>
  </head>
  <body>
    <div class="container d-flex justify-content-center align-items-center">
      <div class="card">
        <div class="row">
          <div class="col-md-6">
            <div class="form" id="userForm">
              <!-- User Registration Form -->
              <h2>Login</h2>
              <form method="post">
                <div class="inputbox mt-3">
                  <span>Phone</span>
                  <input
                    type="text"
                    placeholder="Phone"
                    name="phone"
                    class="form-control"
                  />
                </div>
                <div class="inputbox mt-3">
                  <span>Password</span>
                  <input
                    type="text"
                    placeholder="Password"
                    name="password"
                    class="form-control"
                  />
                </div>
                <div class="form-check mt-3">
                  <input
                    class="form-check-input"
                    type="radio"
                    name="role"
                    value="user"
                    id="flexRadioDefault2"
                    checked
                  />
                  <label
                    style="color: hsl(240, 1%, 34%)"
                    class="form-check-label"
                    for="flexRadioDefault2"
                  >
                    User
                  </label>
                </div>
                <div class="form-check mt-3">
                  <input
                    class="form-check-input"
                    type="radio"
                    name="role"
                    value="center"
                    id="flexRadioDefault1"
                  />
                  <label
                    style="color: hsl(240, 1%, 34%)"
                    class="form-check-label"
                    for="flexRadioDefault1"
                  >
                    E-waste center
                  </label>
                </div>
                <div class="d-flex justify-content-between align-items-center">
                  <div class="text-right">
                    <button
                      class="btn btn-success register btn-block"
                      type="submit"
                    >
                      Login
                    </button>
                  </div>
                </div>
              </form>
              <div class="d-flex mt-4">
                <p class="medium fw-bold mt-2 pt-1 mb-0">
                  Don't have an account?
                  <a href="index.html" class="link-success"
                    >Create New Account</a
                  >
                </p>
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="text-center my-5">
              <!-- Added my-5 class for vertical margin -->
              <img
                class="img-fluid mx-auto"
                src="https://www.homeappliancesworld.com/files/2016/09/E-waste.png"
                alt="E-Waste Image"
              />
            </div>
          </div>
        </div>
      </div>
      <script src="script.js"></script>
    </div>
  </body>
</html>
